storage "raft" {
  path    = "/opt/vault/data"
  node_id = "node1"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = "true"
}

api_addr = "http://${vault_public}:8200"
cluster_addr = "https://${vault_public}:8201"
ui = true

seal "yandexcloudkms" {
  kms_key_id = "${kms_id}"
}